page .record {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20rpx;
  margin-right: 20rpx;
}

Text.unit {
  width: 124rpx;
  color: #999;
}

.at-segmented-control__item {
  padding: 16rpx 10rpx;
}

.at-form{
  background-color: #f7f7f7;
}

.save {
  color: #f7f7f7;
  background-color: #19B560;
}
