.center {
  // width: 100%;
  // font-size: .34rem;
  // display: inline-block;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  // font-family: PingFang-SC-Regular;
  // border: 1px solid #68be4c;
  border-radius: .1rem;
  // text-indent: .4rem;
  // color: #333;
  // padding: .16rem 0;
  float: auto;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
}

.userinfo-avatar {
  overflow: hidden;
  width: 132rpx;
  height: 132rpx;
  margin: 20rpx;
  border-radius: 50%;
}
