.card {
  text-align: center;
  padding: 5rpm 5rpm;
  margin: .5rem .7rem;
  box-shadow: 0 .1rem .1rem  #fff;
  border-radius: .2rem;
  border: .01rem solid #ddd;
  transition: .3s;
  background-color: #fff;
}
.card-title {
  margin: 20rpx 20rpx;
}
