$color-brand: #19b560 !default;
$color-brand-light: #53c888 !default;
$color-brand-dark: #14914d !default;
@import "~taro-ui/dist/style/index.scss"; // 全局引入一次即可

page {
  background-color: #f7f7f7;
}

.login {
  color:#19B560;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rpx;
}

.login Button{
  background-color:#19B560;
  color:white;
}

.at-input {
    position: relative;
    padding: 24rpx 24rpx;
    color: #333;
    background-color: #FFF;
    margin-left: 0rpx;
    margin-bottom: 1PX;
    position: relative;
}
.at-card{
  border-color: #ddd;
}
.at-card__header{
  border-color: #ddd;
}
.at-list::after {
  border-color: #ddd;
}
.at-list__item, .at-list__item::after {
  border-color: #ddd;
}

.code {
  background-color: #ccc;
  border-radius: 8rpx;
  width: 100%;
  padding: 10rpx;
  margin: 10rpx;
  word-wrap:break-word;
  word-break:break-all;
  overflow: hidden;
}

.good-action .item-extra__info {
  color: #91ddb3;
}

.bad-action .item-extra__info {
  color:#ec6a6a
}

.good-action .item-content__info-note {
  color: #91ddb3;
}

.bad-action .item-content__info-note {
  color:#ec6a6a
}

.bgtitle {
  padding: 20rpx;
  color: #999;
}

.bginfo {
  font-size: small;
  padding: 20rpx;
  color: #ccc;
}

.carboninfo {
  font-size: small;
  padding: 20rpx;
  color: #ccc;
    display: flex;
  flex-direction: column;
  align-items: center;
}

.usertips {
  margin-top: 30rpx;
}

.warninfo{
  padding: 20rpx;
  color: #ec6a6a;
  background-color:aqua;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}
