page {
  background-color: #f7f7f7;
}

.login {
  color:#19B560;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rpx;
}

.login Button{
  background-color:#19B560;
  color:white;
}

.at-input {
    position: relative;
    padding: 24rpx 24rpx;
    color: #333;
    background-color: #FFF;
    margin-left: 0rpx;
    margin-bottom: 1PX;
    position: relative;
}
