$color-brand: #19b560 !default;
$color-brand-light: #53c888 !default;
$color-brand-dark: #14914d !default;
@import "~taro-ui/dist/style/index.scss"; // 全局引入一次即可

page {
  background-color: #f7f7f7;
}

.login {
  color:#19B560;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rpx;
}

.login Button{
  background-color:#19B560;
  color:white;
}

.at-input {
    position: relative;
    padding: 24rpx 24rpx;
    color: #333;
    background-color: #FFF;
    margin-left: 0rpx;
    margin-bottom: 1PX;
    position: relative;
}

.code {
  background-color: #ccc;
  border-radius: 8rpx;
  width: 100%;
  padding: 10rpx;
  margin: 10rpx;
  word-wrap:break-word;
  word-break:break-all;
  overflow: hidden;
}
